a {
    color: black !important;
}

@font-face {
    font-family: Brandon Grotesque, serif; 
    src: url('Brandon_light.otf'); 
}

body {
    font-family: Brandon Grotesque, serif;
    color: white;
}

#logo{
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#last-section {
    margin: 10px;
    font-size: 18px;
}